h1 {
    background-color: #4ECDC4;
    color: #F7FFF7;
    border-bottom: 1px solid black;
}


.btn:hover {
    color: #F7FFF7;
    background-color: rgb(47, 140, 155);
    border: 1px solid black;
    transform: translate(0, 0);
}

.historyButtonEl {
    color: #F7FFF7;
    border: 1px solid black;
    outline: none;
    background-color: #f19c57;
    margin: 10px 0px 0px 0px;
    width: 100%;
    border-radius: 5px;
}


.btn {
    color: #F7FFF7;
    border: 1px solid black;
    outline: none;
    background-color: #4ECDC4;
    transform: translate(-1px, -1px);
}

.today-forecast {
    border: 2px solid #4ECDC4;
}

#today-city {
    font-size: 30px;
    margin: 10px;
}

#today-temp, #today-humidity, #today-wind {
    font-size: 20px;
    margin: 5px 10px;
}

#day1, #day2, #day3, #day4, #day5 {
    margin: 20px 18px;
    background-color: #4ECDC4;
    color: #F7FFF7;
    border: 2px solid #f19c57;
}

#day1 > p {
    margin: 10px 15px;
    font-size: 18px;
}


#day2 > p {
    margin: 10px 15px;
    font-size: 18px;
}

#day3 > p {
    margin: 10px 15px;
    font-size: 18px;
}

#day4 > p {
    margin: 10px 15px;
    font-size: 18px;
}

#day5 > p {
    margin: 10px 15px;
    font-size: 18px;
}



